body {
  background-color: #656565;
  color: #D6D8DE;

}

.App {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: auto;
  grid-gap: 5px;

  grid-template-areas:
    "header header header"
    ". nav ."
    ". content ."
    "footer footer footer"

}

header {
  grid-area: header;

}

#navList {
  list-style-type: none;
  background-color: #333333;
  grid-area: nav;

}

#navList > li {
  display: inline-block;
  padding: 10px;
  color: #E5C454;
}

ul ~ li {
  padding-left: 20px;
}

a {
  text-decoration: none;
}

#navList a:visited {
  text-decoration: none;
  color: #E5C454;
}

#contentController {
  grid-area: content;
}

aside {
  display: inline;
}

footer {
  grid-area: footer;
}
